pillow==10.2.0
numpy==1.26.3
scipy==1.11.4
matplotlib==3.8.2
torch==2.1.2
torchvision==0.16.2
tensorboard==2.15.1
scikit-learn==1.4.0
PySuperTuxKart==1.1.2
jupyterlab==4.0.11
jupyter==1.0.0
tqdm==4.66.1
imageio==2.33.1
imageio-ffmpeg==0.4.9
ray==2.9.1
